/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 21, 2016, 12:38:09 AM
    Author     : Hrvoje
*/
header{
    width: 100%;
     float:top; 
    height: 150px; 
    width: 100%;
  background-color:   #f7b322;  
  background-repeat: no-repeat;
  text-align: center
}
footer{
    background-color: #f7b322;
    text-align: center;
    margin-top: 150px;
}
.navigacija{
    background-color: #d0003e;
    float: left;
    width: 200px;
    height: 1210px;
    font-size: 22px;
    list-style-type: upper-alpha;
}
figcaption{
    font-family: "Times new roman";
    font-size: 20px;
    color: #d0003e;
}
.slike{
    border: 2px solid black;
    border-radius: 10px;
    border-style: dotted;
    width: 80px;
    height: 80px;
    text-align: center;
}
.sadrzaj{
    margin-left: 210px;
    margin-top: 20px;
    text-align: left;
}
h2{
    text-align: center;
}
.video{
    text-align: center;
}
.audio{
    text-align: center;
}
body{
    background-color:  #8a8a5c 
    !important;
}
#nesređena{
    list-style-type: upper-alpha;
}
#nesređena > li a:visited{
    color: lime;
}
.asocijativna{
    font-style: italic;
    font-family: "Monotype Corsiva";
    font-size: 20px;
}
#navigacija2{
    list-style-type: none;
}
.validacija{
    margin-top: 20px;
}
label{
    font-style: italic;
}
.fotografije{
    text-align: center;
    margin-top: 80px;
    color: blue; 
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #f7b322;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-body {padding: 2px 16px;}

.container2 {
  float:top; 
  height: 150px; 
  width: 100%;
  background-color:   #f7b322;  
  background-repeat: no-repeat;
  text-align: center
}

.container{
    margin-top: 60px;
}
.thumbnail{
    background-color: #f7b322 !important;
    border-style: none;
    width: 250px;
    height: 240px;
}
.container5{
    background-color: #8a8a5c;  
    width: 730px;
    height: 600px;
    margin-left: 200px;
}

